<div class="subscribe-box" id="subscribe">
    
    <h3>Follow Along</h3>
    <p>Get our latest updates and reflections sent to your inbox. No noise, just a moment of peace.</p>

    <form name="subscribe" method="POST" data-netlify="true" netlify-honeypot="bot-field">
        
        <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>

        <div class="form-row">
            <input type="email" name="email" placeholder="your@email.com" required />
            <button type="submit">Join the list</button>
        </div>
        
    </form>
</div>